.searchCreateTest {
  display: flex;
}

.searchCreateTest > .search {
  flex: 1;
}
.searchCreateTest > .search:hover {
  background: #f2f3f7;
}

.searchCreateTest > .createTest {
  margin: 0 0 0 2%;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .searchCreateTest {
    flex-direction: column;
  }

  .createTest {
    width: 100%;
    justify-content: center;
  }
}
